[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
blockcypher = "*"
twine = "*"
wheel = "*"

[packages]
requests = "*"
ecdsa = "*"
base58 = "*"
click = "*"
altpiggybank = {editable = true, path = "."}
colorama = "*"
pytest = "*"
wheel = "*"

[requires]
python_version = "3.8"
